@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Teko:wght@600&family=Titan+One&display=swap');

.principal{
    padding: left 5cm;
    background: transparent
}
input[type='text']{
    font-family: 'Teko';
    letter-spacing: 3px;
    color: rgb(77, 67, 0);

}
.search{
    /* padding: 10px; */
    border-radius: 100px;
    border: 2px solid #fee502;
    box-shadow:   0 0 10px 2px rgba(0, 0, 0, 0.601),
    inset  0 0 10px 2px rgb(93, 80, 5);
    /* margin-bottom: 80px; */
    transition: 0.3s;
    background-color: rgba(145, 134, 33, 0.739);
    position: relative;
    left: -2cm;
    top: 0cm;
}

.search:focus{
    outline: none;
    background-color: rgb(255, 242, 0);
    /* padding: 18px; */
    color: rgb(0, 0, 0);
    border: 2px solid #00000084;
}
.search::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
    font-family: 'Teko';
    letter-spacing: 4px;
  }
.buttonSearch{
    font-family: 'Teko';
    color: rgb(99, 86, 0);
    background-color: rgb(255, 234, 0);
    /* padding: 20px; */
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    border-radius: 100px;
    border: 5px solid #000000;
    box-shadow:   0 0 10px 2px rgb(255, 247, 0),
    inset  0 0 10px 2px rgb(164, 153, 2);
    /* cursor: pointer; */
    position: relative;
    left: 1cm;
    top: -27px;
    
}

.buttonSearch:hover{
    box-shadow:   0 0 10px 5px rgb(0, 0, 0),
    inset  0 0 10px 3px rgba(162, 143, 0, 0.647);
    /* border: 2px solid #ffea00; */
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
}
