@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Teko:wght@600&family=Titan+One&display=swap');


.paginado{
    margin-top: 80px;
    position: relative;
    top: -20px;
}
  
.lista {
    list-style: none;
    text-align: center;
}
.number {
    
    background-image: url('http://todovector.com/vector/animales/terrestres/perros/hueso-de-perro/156.png');
    display: inline-block;
    font-family: 'Fredoka One';
    font-size: 20px ;
    text-align: center;
    padding: 8px 30px;
    
    color: rgb(255, 242, 0);
    border-radius: 1px;
    margin: 5px;
    margin-bottom: 10px; 
    width: 0.2%;
    background-size: cover;
    background-position: center;
    color: inset  0 0 0px 40px rgba(255, 187, 0, 0.236);


    cursor: pointer;
}


.number:hover{
    
    background: rgba(255, 242, 0, 0.168);
}
 